:root {
  --first-color: #e8abeb;
}

.Weather {
  border: 2px solid var(--first-color);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.btn {
  background: var(--first-color);
  border-color: var(--first-color);
}
.btn:hover {
  background: white;
  color: var(--first-color);
  border-color: var(--first-color);
}

.form-control {
  border-color: var(--first-color);
}

.cityName {
  margin-left: 10px;
}

.tempAll {
  margin-top: 20px;
  margin-left: 10px;
}

.other-units {
  opacity: 0.7;
  font-weight: bold;
}

@media (max-width: 576px) {
  .buttom1 {
    padding: 6px;
  }
}
