.tempAll {
  
  margin-left: 10px;
  font-size: 64px;
  line-height: 64px;
  position: relative;
  top: -5px;
}

.temp-units {
	margin-left: 5px;
	position: relative;
	top: -35px;
	color:#e8abeb
}

.WeatherSearch canvas {
	margin-top: 5px;
	margin-left: 10px;
}

@media (max-width: 576px) {
  .tempAll {
	font-size: 36px;
	position: relative;
	top: -9px;
}
	.temp-units {
		font-size: 12px;
	position: relative;
	top: -25px;
	color:#e8abeb
}

	.WeatherSearch canvas {
	font-size: 28px;
}
}

